.tag-line-slider {
    position: absolute;
    top: 200px;
    margin-left: 30px;
}

.tag-line-slider .tag-line-title {
    color: #cf7208;
    width: 450px;
    font-size: 40px;
}

.tag-line-slider .tag-line-desc {
    color: #575554;
    width: 450px;
    font-size: 15px;

}



@media (max-width: 576px) {
    .tag-line-slider .tag-line-title {
        color: #cf7208;
        width: 300px;
        font-size: 20px;
    }

    .tag-line-slider .tag-line-desc {
        color: #575554;
        width: 300px;
        font-size: 12px;

    }

}
