.tag-line-slider {
    position: absolute;
    top: 200px;
    margin-left: 30px;
}

.tag-line-slider .tag-line-title {
    color: #cf7208;
    width: 450px;
    font-size: 40px;
}

.tag-line-slider .tag-line-desc {
    color: #575554;
    width: 450px;
    font-size: 15px;

}
.panel-form {
    width: 100%;
    margin-bottom: 5px;
}
.panel-menu {
    position: fixed;
    left: 830px;

}


